# Pandas Ejercicio #4

In [1]:
import pandas as pd

Tenemos un dataframe con los siguientes datos

In [2]:
df = pd.DataFrame([
  [1, '3 inch screw', 0.5, 0.75],
  [2, '2 inch nail', 0.10, 0.25],
  [3, 'hammer', 3.00, 5.50],
  [4, 'screwdriver', 2.50, 3.00]
],
  columns=['Product ID', 'Description', 'Cost to Manufacture', 'Price']
)

Añade una columna llamada `Sold in Bulk?` que indica si el producto fue vendido al por mayor o individualmente

In [3]:
df['Sold in Bulk?'] = ['Yes', 'Yes', 'No', 'No']

df

   Product ID   Description  Cost to Manufacture  Price Sold in Bulk?
0           1  3 inch screw                  0.5   0.75           Yes
1           2   2 inch nail                  0.1   0.25           Yes
2           3        hammer                  3.0   5.50            No
3           4   screwdriver                  2.5   3.00            No

Añade una columna llamada `Is taxed?` que indica si el producto tiene impuesto a las ventas. Debe ser `Yes` para todas las filas

In [4]:
df['Is taxed'] = ['Yes', 'Yes', 'Yes', 'Yes']
df

   Product ID   Description  Cost to Manufacture  Price Sold in Bulk? Is taxed
0           1  3 inch screw                  0.5   0.75           Yes      Yes
1           2   2 inch nail                  0.1   0.25           Yes      Yes
2           3        hammer                  3.0   5.50            No      Yes
3           4   screwdriver                  2.5   3.00            No      Yes

Añade una columna llamada `revenue` la cual es igual a la diferencia entre Precio y Costode Manufactura

In [5]:
df['revenue'] = df['Price'] - df['Cost to Manufacture']
df

,Product ID,Description,Cost to Manufacture,Price,Sold in Bulk?,Is taxed,revenue
0,1,3 inch screw,0.5,0.75,Yes,Yes,0.25
1,2,2 inch nail,0.1,0.25,Yes,Yes,0.15
2,3,hammer,3.0,5.50,No,Yes,2.50
3,4,screwdriver,2.5,3.00,No,Yes,0.50

Cree una funcion llamada `mylambda` que retorne la primera y la ultima letra de un string, asumiendo que el string tiene al menos 2 caracteres de largo. Por ejemplo `print(mylambda('This is a string'))` deberia producir este resultado `Tg`

In [30]:
mylambda = lambda my_string: (my_string[0] + my_string[len(my_string)-1]) if len(my_string) > 2 else "Tiene q ser mayor q 2 letras"

print(mylambda('This is a string'))
print(mylambda("Ab"))

Tg
Tiene q ser mayor q 2 letras

Usted esta manejando una pagina web de un juego que parece ser voilento y usted quiere confirmar que los usuarios tienen 13 años o mas cuando visitan el sitio. Escriba un lambda que tome como inpout la edad y retorne `Welcome to BattleCity!` si el usuario tiene 13 años o mas. O retorne `You must be over 13` si el usuario es menor de 13. El lambda debe llamarse `mylambda`

In [7]:
mylambda = lambda edad: "Welcome to BattleCity!" if edad > 13 else "You must be over 13"

In [25]:
f"{mylambda(14)}, Let's get bloody"

"Welcome to BattleCity!, Let's get bloody"

In [27]:
f"Sorry mijo {mylambda(13)}!"

'Sorry mijo You must be over 13!'

Cree una funcion lambda llamada `get_last_name` que toma un string con el primer y segundo nombre de alguien (por ejemplo `John Smith`) y retorne solo el segundo nombre (por ejemplo `Smith`)

In [10]:
get_last_name = lambda first_and_last_name: first_and_last_name.split(' ')[1]

print(get_last_name("John Smith"))

print(f"Your last name is {get_last_name('Axel Rose')}")

Smith
Your last name is Rose

Ahora tenemos el siguiente dataframe

In [11]:
df = pd.DataFrame([
  ['JOHN SMITH', 'john.smith@gmail.com'],
  ['Jane Doe', 'jdoe@yahoo.com'],
  ['joe schmo', 'joeschmo@hotmail.com']
],
columns=['Name', 'Email'])

print(df)

         Name                 Email
0  JOHN SMITH  john.smith@gmail.com
1    Jane Doe        jdoe@yahoo.com
2   joe schmo  joeschmo@hotmail.com

Use la funcion lambda que acabo de crear llamada `get_last_name` para crear una nueva columna llamada `last_name` con solo el ultimo nombre de las filas del dataframe

In [12]:
df['Last Name'] = df.Name.apply(
    lambda first_and_last_name: first_and_last_name.split( )[1]
)

print(df)

         Name                 Email Last Name
0  JOHN SMITH  john.smith@gmail.com     SMITH
1    Jane Doe        jdoe@yahoo.com       Doe
2   joe schmo  joeschmo@hotmail.com     schmo

Volvamos a nuestro csv de movies llamado `imdb.csv`, importemoslo y leamoslo con pandas

In [13]:
df_movies = pd.read_csv('imdb.csv')
df_movies

      id                                       name   genre  year imdb_rating
0      1                                     Avatar  action  2009         7.9
1      2                             Jurassic World  action  2015         7.3
2      3                               The Avengers  action  2012         8.1
3      4                            The Dark Knight  action  2008         9.0
4      5  Star Wars: Episode I - The Phantom Menace  action  1999         6.6
..   ...                                        ...     ...   ...         ...
215  216                                   Hannibal   drama  2001         6.7
216  217                        Catch Me If You Can   drama  2002         8.0
217  218                                  Big Daddy   drama  1999         6.4
218  219                                      Se7en   drama  1995         8.6
219  220                                      Seven   drama  1979         6.1

[220 rows x 5 columns]

Este dataframe se lo queremos presentar a productores de peliculas. Ahora mismo, nuestra columna names esta en minusculas y no es muy descriptiva. Vamos a modificar el `df` usando el metodo `.columns` para hacer el siguiente cambio a los nombres de las columnas

![alt text](change_column_names.png "Title")

In [14]:
df_movies.columns = ['ID', 'Title', 'Category', 'Year Released', 'Rating']
df_movies

,ID,Title,Category,Year Released,Rating
0,1,Avatar,action,2009,7.9
1,2,Jurassic World,action,2015,7.3
2,3,The Avengers,action,2012,8.1
3,4,The Dark Knight,action,2008,9.0
4,5,Star Wars: Episode I - The Phantom Menace,action,1999,6.6
...,...,...,...,...,...
215,216,Hannibal,drama,2001,6.7
216,217,Catch Me If You Can,drama,2002,8.0
217,218,Big Daddy,drama,1999,6.4
218,219,Se7en,drama,1995,8.6
219,220,Seven,drama,1979,6.1

Si nosotros no sabemos que `df` es una tabla de calificacion de peliculas, la columna `Title` no tiene mucho sentido y puede ser confusa. Para aclarar esto, vamos a renombrar la columna `Title` por `Movie Title`

In [15]:
df_movies.rename(columns={
    'Title': 'Movie Title'
}, inplace=True)

df_movies

,ID,Movie Title,Category,Year Released,Rating
0,1,Avatar,action,2009,7.9
1,2,Jurassic World,action,2015,7.3
2,3,The Avengers,action,2012,8.1
3,4,The Dark Knight,action,2008,9.0
4,5,Star Wars: Episode I - The Phantom Menace,action,1999,6.6
...,...,...,...,...,...
215,216,Hannibal,drama,2001,6.7
216,217,Catch Me If You Can,drama,2002,8.0
217,218,Big Daddy,drama,1999,6.4
218,219,Se7en,drama,1995,8.6
219,220,Seven,drama,1979,6.1

Accedamos a un nuevo dataFrame llamado `shoesfly2.csv` e importemoslo y asignemoslo a la variable `orders` y examine las primeras 5 filas

In [16]:
orders = pd.read_csv('shoesfly2.csv')

In [17]:
orders.head(5)

,id,first_name,last_name,gender,email,shoe_type,shoe_material,shoe_color
0,54791,Rebecca,Lindsay,female,RebeccaLindsay57@hotmail.com,clogs,faux-leather,black
1,53450,Emily,Joyce,female,EmilyJoyce25@gmail.com,ballet flats,faux-leather,navy
2,91987,Joyce,Waller,female,Joyce.Waller@gmail.com,sandles,fabric,black
3,14437,Justin,Erickson,male,Justin.Erickson@outlook.com,clogs,faux-leather,red
4,79357,Andrew,Banks,male,AB4318@gmail.com,boots,leather,brown

Varios de nuestros clientes quieren comprar zapatos veganos (zapatos hechos con materials que no vienen de animales). Añada una nueva columna a este dataframe llamada `shoe_source` el cual será `vegan` si el material no es `leather` y `animals` de otra manera

In [22]:


#orders['shoe_source'] = orders.shoe_material.apply(
 #   lambda x: 'vegan' if x == "leather" else 'animal killer'
#)

#print(orders)

orders['shoe_source'] = orders.apply(
    lambda row: 'animal killer' if 'leather' in row['shoe_material'] else 'vegan', 
    axis=1
)

orders

,id,first_name,last_name,gender,email,shoe_type,shoe_material,shoe_color,shoe_source,salutation
0,54791,Rebecca,Lindsay,female,RebeccaLindsay57@hotmail.com,clogs,faux-leather,black,animal killer,Dear Ms. Lindsay
1,53450,Emily,Joyce,female,EmilyJoyce25@gmail.com,ballet flats,faux-leather,navy,animal killer,Dear Ms. Joyce
2,91987,Joyce,Waller,female,Joyce.Waller@gmail.com,sandles,fabric,black,vegan,Dear Ms. Waller
3,14437,Justin,Erickson,male,Justin.Erickson@outlook.com,clogs,faux-leather,red,animal killer,Dear Mr. Erickson
4,79357,Andrew,Banks,male,AB4318@gmail.com,boots,leather,brown,animal killer,Dear Mr. Banks
5,52386,Julie,Marsh,female,JulieMarsh59@gmail.com,sandles,fabric,black,vegan,Dear Ms. Marsh
6,20487,Thomas,Jensen,male,TJ5470@gmail.com,clogs,fabric,navy,vegan,Dear Mr. Jensen
7,76971,Janice,Hicks,female,Janice.Hicks@gmail.com,clogs,faux-leather,navy,animal killer,Dear Ms. Hicks
8,21586,Gabriel,Porter,male,GabrielPorter24@gmail.com,clogs,leather,brown,animal killer,Dear Mr. Porter
9,62083,Frances,Palmer,female,FrancesPalmer50@gmail.com,wedges,leather,white,animal killer,Dear Ms. Palmer
10,91629,Jessica,Hale,female,JessicaHale25@gmail.com,clogs,leather,red,animal killer,Dear Ms. Hale
11,98602,Lawrence,Parker,male,LawrenceParker44@gmail.com,wedges,fabric,brown,vegan,Dear Mr. Parker
12,45832,Susan,Dennis,female,SusanDennis58@gmail.com,ballet flats,fabric,white,vegan,Dear Ms. Dennis
13,33862,Diane,Ochoa,female,DO2680@gmail.com,sandles,fabric,red,vegan,Dear Ms. Ochoa
14,73431,Rebecca,Charles,female,Rebecca.Charles@gmail.com,boots,faux-leather,white,animal killer,Dear Ms. Charles
15,93889,Jacqueline,Crane,female,JC2072@hotmail.com,wedges,fabric,red,vegan,Dear Ms. Crane
16,39888,Vincent,Stephenson,male,VS4753@outlook.com,boots,leather,black,animal killer,Dear Mr. Stephenson
17,35961,Roy,Tillman,male,RoyTillman20@gmail.com,boots,leather,white,animal killer,Dear Mr. Tillman
18,24560,Thomas,Roberson,male,Thomas.Roberson@gmail.com,wedges,fabric,red,vegan,Dear Mr. Roberson
19,28559,Angela,Newton,female,ANewton1977@outlook.com,wedges,fabric,red,vegan,Dear Ms. Newton
20,91629,Jessica,Hale,female,JessicaHale25@gmail.com,clogs,leather,red,animal killer,Dear Ms. Hale
21,98602,Lawrence,Parker,male,LawrenceParker44@gmail.com,wedges,fabric,brown,vegan,Dear Mr. Parker
22,45832,Susan,Dennis,female,SusanDennis58@gmail.com,ballet flats,fabric,white,vegan,Dear Ms. Dennis
23,33862,Diane,Ochoa,female,DO2680@gmail.com,sandles,fabric,red,vegan,Dear Ms. Ochoa
24,73431,Rebecca,Charles,female,Rebecca.Charles@gmail.com,boots,faux-leather,white,animal killer,Dear Ms. Charles
25,93889,Jacqueline,Crane,female,JC2072@hotmail.com,wedges,fabric,red,vegan,Dear Ms. Crane
26,39888,Vincent,Stephenson,male,VS4753@outlook.com,boots,leather,black,animal killer,Dear Mr. Stephenson
27,35961,Roy,Tillman,male,RoyTillman20@gmail.com,boots,leather,white,animal killer,Dear Mr. Tillman
28,24560,Thomas,Roberson,male,Thomas.Roberson@gmail.com,wedges,fabric,red,vegan,Dear Mr. Roberson
29,28559,Angela,Newton,female,ANewton1977@outlook.com,wedges,fabric,red,vegan,Dear Ms. Newton

Nuestro departamento de marketing quiere enviar emails a cada consumidor. Usando la columna `last_name` y `gender` cree una columna llamada `salutation` el cual contiene el siguiente string `Dear Mr. <last_name>` para saludar a los hombres y el string `Dear Ms. <last_name>` para saludar las mujeres.

In [23]:

orders['salutation'] = orders.apply(
    lambda row: f"Dear Mr. {row['last_name']}" if row['gender'] == "male" else f"Dear Ms. {row['last_name']}",
    axis=1
)

In [20]:
orders

,id,first_name,last_name,gender,email,shoe_type,shoe_material,shoe_color,shoe_source,salutation
0,54791,Rebecca,Lindsay,female,RebeccaLindsay57@hotmail.com,clogs,faux-leather,black,vegan,Dear Ms. Lindsay
1,53450,Emily,Joyce,female,EmilyJoyce25@gmail.com,ballet flats,faux-leather,navy,vegan,Dear Ms. Joyce
2,91987,Joyce,Waller,female,Joyce.Waller@gmail.com,sandles,fabric,black,animal killer,Dear Ms. Waller
3,14437,Justin,Erickson,male,Justin.Erickson@outlook.com,clogs,faux-leather,red,vegan,Dear Mr. Erickson
4,79357,Andrew,Banks,male,AB4318@gmail.com,boots,leather,brown,vegan,Dear Mr. Banks
5,52386,Julie,Marsh,female,JulieMarsh59@gmail.com,sandles,fabric,black,animal killer,Dear Ms. Marsh
6,20487,Thomas,Jensen,male,TJ5470@gmail.com,clogs,fabric,navy,animal killer,Dear Mr. Jensen
7,76971,Janice,Hicks,female,Janice.Hicks@gmail.com,clogs,faux-leather,navy,vegan,Dear Ms. Hicks
8,21586,Gabriel,Porter,male,GabrielPorter24@gmail.com,clogs,leather,brown,vegan,Dear Mr. Porter
9,62083,Frances,Palmer,female,FrancesPalmer50@gmail.com,wedges,leather,white,vegan,Dear Ms. Palmer
10,91629,Jessica,Hale,female,JessicaHale25@gmail.com,clogs,leather,red,vegan,Dear Ms. Hale
11,98602,Lawrence,Parker,male,LawrenceParker44@gmail.com,wedges,fabric,brown,animal killer,Dear Mr. Parker
12,45832,Susan,Dennis,female,SusanDennis58@gmail.com,ballet flats,fabric,white,animal killer,Dear Ms. Dennis
13,33862,Diane,Ochoa,female,DO2680@gmail.com,sandles,fabric,red,animal killer,Dear Ms. Ochoa
14,73431,Rebecca,Charles,female,Rebecca.Charles@gmail.com,boots,faux-leather,white,vegan,Dear Ms. Charles
15,93889,Jacqueline,Crane,female,JC2072@hotmail.com,wedges,fabric,red,animal killer,Dear Ms. Crane
16,39888,Vincent,Stephenson,male,VS4753@outlook.com,boots,leather,black,vegan,Dear Mr. Stephenson
17,35961,Roy,Tillman,male,RoyTillman20@gmail.com,boots,leather,white,vegan,Dear Mr. Tillman
18,24560,Thomas,Roberson,male,Thomas.Roberson@gmail.com,wedges,fabric,red,animal killer,Dear Mr. Roberson
19,28559,Angela,Newton,female,ANewton1977@outlook.com,wedges,fabric,red,animal killer,Dear Ms. Newton
20,91629,Jessica,Hale,female,JessicaHale25@gmail.com,clogs,leather,red,vegan,Dear Ms. Hale
21,98602,Lawrence,Parker,male,LawrenceParker44@gmail.com,wedges,fabric,brown,animal killer,Dear Mr. Parker
22,45832,Susan,Dennis,female,SusanDennis58@gmail.com,ballet flats,fabric,white,animal killer,Dear Ms. Dennis
23,33862,Diane,Ochoa,female,DO2680@gmail.com,sandles,fabric,red,animal killer,Dear Ms. Ochoa
24,73431,Rebecca,Charles,female,Rebecca.Charles@gmail.com,boots,faux-leather,white,vegan,Dear Ms. Charles
25,93889,Jacqueline,Crane,female,JC2072@hotmail.com,wedges,fabric,red,animal killer,Dear Ms. Crane
26,39888,Vincent,Stephenson,male,VS4753@outlook.com,boots,leather,black,vegan,Dear Mr. Stephenson
27,35961,Roy,Tillman,male,RoyTillman20@gmail.com,boots,leather,white,vegan,Dear Mr. Tillman
28,24560,Thomas,Roberson,male,Thomas.Roberson@gmail.com,wedges,fabric,red,animal killer,Dear Mr. Roberson
29,28559,Angela,Newton,female,ANewton1977@outlook.com,wedges,fabric,red,animal killer,Dear Ms. Newton